[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
  ignore = dirty
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/vim-wal"]
	path = bundle/vim-wal
	url = https://github.com/dylanaraps/wal.vim.git
[submodule "bundle/vim-dockerfile"]
	path = bundle/vim-dockerfile
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/vim-coffee"]
	path = bundle/vim-coffee
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
